@import "bootstrap/scss/bootstrap";
@import "custom.scss";
.bootstrap-styles {
    // all: revert;
    // @import "nord/src/nord.scss";
    @import "bootstrap/scss/bootstrap";
    @import "custom.scss";
}

.nord-styles {
    // all: revert;
    // @import "bootstrap/scss/bootstrap";
    @import "bootstrap/scss/functions";
    @import "bootstrap/scss/variables";
    @import "nord/src/sass/nord";
    $body_bg: $nord6;
    $body_color: $nord0;
    $theme-colors: ( "primary": $nord10, "secondary": $nord3, "success": $nord14, "danger": $nord11, "warning": $nord13, "info": $nord8, "light": $nord5, "dark": $nord0, "white": $nord6, );
    $link-color: $nord10;
    @import "bootstrap/scss/bootstrap";
    @import "custom.scss";
    // @import "nordbootstrap.css";
}



